* {
    box-sizing: border-box;
}

body {
    background-color: #d1d3d4;
}

.container-fluid {
    padding: 0px;
}


#page {
    margin: 0 auto;   /* Zentrierung mitte */
    margin-top: 20px;
    background: #fff;
    border: #00559d 8px solid;
    width: 990px;
    height: 990px;
    padding: 15px;
}

.navbar-default {
    border: none;
}

#logo {
    padding-top: 10px;
}

#bs-example-navbar-collapse-1 {
    min-height: 100px;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    padding-right: 15px;
}

#column-left, #column-right {
    width: 17.5%;
    height: 820px;
}

#column-right{
    border-left: 1px solid #ccc;
    padding-left: 5px;
}

#column-middle {
    width: 65%;
    height: 820px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.w3-sidebar {
    position: unset!important;
    width: auto;
}

#start-picture {
    max-width:100%;
    max-height:100%;
}

h1 {
    margin-bottom: 30px;
}

.price {
    font-weight: bold;
}